extends ../../layout.pug

block vars
    - var title = "Badminton Night"
    - var banner = "/img/whats-on/badminton-night/banner.jpg"
    - var images = ["/img/whats-on/badminton-night/1.jpg"]
    - var description = "Badminton is available to be played in the Sports Hall on a Monday evening after 8pm. There are 3 Badminton courts available for hire at £3 per person, bookable up to 1 week in advance. <br><br> If you would like to play Badminton at another time, please make an enquiry to check availability."

block content
    include ../../includes/event.pug
