extends ../../layout.pug

block vars
    - var title = "Children's Gymnastics Coaching"
    - var banner = "/img/whats-on/childrens-gymnastics-coaching/banner.jpg"
    - var images = ["/img/whats-on/childrens-gymnastics-coaching/1.jpg", "/img/whats-on/childrens-gymnastics-coaching/2.jpg", "/img/whats-on/childrens-gymnastics-coaching/3.jpg"]
    - var description = "Our Gymnastics coaching is an ideal way of introducing your child to the activity, involving them physically and for them to meet new friends. <br><br> Head Coach Lyn Armstrong has been coaching young people for over 25 years and has a wealth of experience and many of her previous young pupils have gone on to take both their coaching badges and to help organise the sessions. Those young people who attend the classes are given the opportunity to gain various B.A.G.A. awards and badges. <br><br> In addition to the courses we operate there are regular special coaching classes (Taster Sessions) organised for the School holiday periods and details will be shown on this website. <br><br> Next set of classes commence in January 2016, why not check out availability on current courses."

block content
    include ../../includes/event.pug
