extends ../../layout.pug

block vars
    - var title = "Embroidery/Stitch Club"
    - var banner = "/img/whats-on/embroidery-stitch-club/banner.jpg"
    - var images = ["/img/whats-on/embroidery-stitch-club/banner.jpg", "/img/whats-on/embroidery-stitch-club/1.jpg",  "/img/whats-on/embroidery-stitch-club/2.jpg"]
    - var description = "This club is for those interested in embroidery and knitting who would like to meet with other like minded people. The club is held in an informal environment where people are working on personal needlework projects. <br><br> £1 including tea or coffee <br><br> Wednesday evening 7.00-9.30pm Contact PVCA 0191 3881043"
 
block content
    include ../../includes/event.pug
