extends ../../layout.pug

block vars
    - var title = "Euphoria Dance"
    - var banner = "/img/whats-on/euphoria-dance-in-chester-le-street/banner.jpg"
    - var images = ["/img/whats-on/euphoria-dance-in-chester-le-street/1.jpg"]
    - var description = "Dance to your favourite music and perform in shows along the way. Learn to create your own dance moves with friends and have fun! Make it part of your Healthy Living Style. <br><br> Coaching from registered dance professional Janet Balfour."

block content
    include ../../includes/event.pug
