extends ../../layout.pug

block vars
    - var title = "Fast Feet Football Academy"
    - var banner = "/img/whats-on/fast-feet-football-academy/banner.jpg"
    - var images = ["/img/whats-on/fast-feet-football-academy/1.png", "/img/whats-on/fast-feet-football-academy/2.jpg", "/img/whats-on/fast-feet-football-academy/3.jpg"]
    - var description = "Fast Feet Football Academy formed in January 2013 with the aim of helping children maximise their potential and become as comfortable and competent with the football as possible. Our methods are suitable for all ages and abilities but specifically players aged 3 to 16. <br><br> Our emphasis is based on each child’s long term individual development, focusing on individual skill development and small group play, improving every player regardless of age or ability.  Players are encouraged to express themselves, be creative and most importantly, to be instinctive and spontaneous in their play. <br><br> To book 3 taster sessions for the price of 2, please contact us on 0191 4813469."

block content
    include ../../includes/event.pug
