extends ../../layout.pug

block vars
    - var title = "Friday"
    - var kids = [["Fast Feet Football", "fast-feet-football-academy", "5:30pm-8:00pm"], ["Trampoline Lessons", "trampoline-coaching-in-chester-le-street", "4:30pm-6:00pm"]]
    - var adults = [["Italian Advanced", "italian-advanced", "1:30pm-3:30pm"]]

block content
    include ../../includes/whats-on-day.pug
