extends ../../layout.pug

block vars
    - var title = "Infinity Dance"
    - var banner = "/img/whats-on/infinity-dance-in-chester-le-street/banner.jpg"
    - var images = ["/img/whats-on/infinity-dance-in-chester-le-street/1.jpg"]
    - var description = "Infinity Dance A mixture of dance moves and themes, using apparatus, ribbons and pom-poms. Perform in Dance Festival or just come for participation and enjoyment – have fun! <br><br> For children aged Age 4 – 7yrs. <br><br> Cost £35.00 for 10 week course (Term Time only) plus annual membership."

block content
    include ../../includes/event.pug
