extends ../../layout.pug

block vars
    - var title = "Italian Improver"
    - var banner = "/img/whats-on/italian-improver/banner.jpg"
    - var images = ["/img/whats-on/italian-improver/1.jpg", "/img/whats-on/italian-improver/2.jpg", "/img/whats-on/italian-improver/3.jpg"]
    - var description = "This is a post-beginners courses and has been running for a number of years. The course covers grammar revision, practice of listening skills, conversation and study of topics.  <br><br> The topics include aspects of Italian history, culture or current affairs. They are decided by the class at the beginning of a session (which usually lasts 10 weeks). <br><br> Course Fee example 10wks £96.00 plus P.V.C.C annual membership."

block content
    include ../../includes/event.pug
