extends ../../layout.pug

block vars
    - var title = "Ladies Keep Fit (Over 40)"
    - var banner = "/img/whats-on/ladies-keep-fit-in-chester-le-street/banner.jpg"
    - var images = ["/img/whats-on/ladies-keep-fit-in-chester-le-street/1.jpg"]
    - var description = "This fun and friendly class is about getting fit through dance. Routines promote improvements in strength, flexibility, stamina, balance and co-ordination. <br><br> Suitable for ladies who are maintaining or returning to Fitness. <br><br> Course fee example 10 weeks – £36.00 plus annual PVCA membership."

block content
    include ../../includes/event.pug
