extends ../../layout.pug

block vars
    - var title = "Spanish Beginners"
    - var banner = "/img/whats-on/learn-spanish-beginners-in-chester-le-street/banner.jpg"
    - var images = ["/img/whats-on/learn-spanish-beginners-in-chester-le-street/1.jpg", "/img/whats-on/learn-spanish-beginners-in-chester-le-street/2.jpg", "/img/whats-on/learn-spanish-beginners-in-chester-le-street/3.jpg"] 
    - var description = "A course for those with little or no previous knowledge of Spanish. <br><br> This course will cover introductions, how to say your name, where you live, the alphabet, numbers, how to tell the time and personal characteristics. It will also cover the present tense and singular and plural forms. <br><br> For more information, please contact WEA 0191 2126100"

block content
    include ../../includes/event.pug
