extends ../../layout.pug

block vars
    - var title = "Men's Keep Fit (Over 40)"
    - var banner = "/img/whats-on/mens-keep-fit-in-chester-le-street/banner.jpg"
    - var images = ["/img/whats-on/mens-keep-fit-in-chester-le-street/1.jpg"]
    - var description = "1 hour keep fit session consisting of 5 minutes gentle warm up and stretches followed by 25 minute circuit around the gym. The session focuses on exercising various sections of muscles, using apparatus such as beams, benches, ropes and boxes. The second half of the session is spent volleyball <br><br> This session is non competitive and is geared to cope with all fitness levels promoting participation of regular fitness, social interaction and the development of volleyball skills <br><br> Example of cost £36.00 for a ten week course plus PVCA annual membership <br><br> Contact PVCA 0191 3881043"

block content
    include ../../includes/event.pug
