extends ../../layout.pug

block vars
    - var title = "Saturday"
    - var kids = [["Fast Feet Football", "fast-feet-football-academy"], ["Infinity Dance", "infinity-dance-in-chester-le-street"], ["Euphoria Dance", "euphoria-dance-in-chester-le-street"], ["NE Knights American Football", "ne-knights-american-football-in-chester-le-street"]]

block content
    include ../../includes/whats-on-day.pug
