extends ../../layout.pug

block vars
	- var title = "St Cuthberts Football Club"
	- var banner = "/img/whats-on/st-cuthberts-football-club-in-chester-le-street/banner.jpg"
	- var images = ["/img/whats-on/st-cuthberts-football-club-in-chester-le-street/1.jpg"]
	- var description = "DESCRIPTION COMING SOON"

block content
	include ../../includes/event.pug
