extends ../../layout.pug

block vars
    - var title = "Sugar Craft Mixed Ability"
    - var banner = "/img/whats-on/sugar-craft-mixed-ability/banner.jpg"
    - var images = ["/img/whats-on/sugar-craft-mixed-ability/1.jpg", "/img/whats-on/sugar-craft-mixed-ability/2.jpg", "/img/whats-on/sugar-craft-mixed-ability/3.jpg"]
    - var description = "Sugar Craft is an increasingly popular hobby, which can be enjoyed by people of all ages. Learn how to make artistic looking cakes for all occasions. <br><br> Course cost example £60.00 for 9wks plus annual membership."

block content
    include ../../includes/event.pug
