extends ../../layout.pug

block vars
    - var title = "Taekwon Do"
    - var banner = "/img/whats-on/taekwon-do-in-chester-le-street/banner.jpg"
    - var images = ["/img/whats-on/taekwon-do-in-chester-le-street/1.jpg"]
    - var description = "Learn the Korean art of self-defence and get fit, strong, flexible and coordinated! Learn discipline, build confidence and make new friends too! Taekwon-Do is a great martial art, suitable for all ages. <br><br> Suitable for all levels, including beginners. All welcome. <br><br> Wear T-Shirt and loose bottoms to first lesson. Bring water. <br><br> Simply turn up to class or contact head instructor Mr William McElhone (V) for more information and complete class list on: 07971 818 282 or williammcelhone@yahoo.com"

block content
    include ../../includes/event.pug
