extends ../../layout.pug

block vars
    - var title = "Trampoline Coaching"
    - var banner = "/img/whats-on/trampoline-coaching-in-chester-le-street/banner.jpg"
    - var images = ["/img/whats-on/trampoline-coaching-in-chester-le-street/1.jpg"]
    - var description = "Our Trampoline coaching is an ideal way of introducing your child to the activity, involving them physically and for them to meet new friends. <br><br> Head Coach Lynn Armstrong has been coaching young people for over 24 years and has a wealth of experience and many of her previous young pupils have gone on to take both their coaching badges and to help organise the sessions. <br><br> In addition to the weekly coaching we operate there are regular special coaching classes (Taster Sessions) organised for the school holiday periods and details will be shown on this website. <br><br> To add a name onto our waiting list to take part please call at main reception, telephone 0191 388 10 43 or email – info@pvca.co.uk. We will need the child’s name, DOB, your contact details, the date and time you require. <br><br> <strong>All the classes operate for 9 weeks and cost £36.00 per person (plus once a year membership of £9.00 per person)</strong>"

block content
    include ../../includes/event.pug
