extends ../../layout.pug

block vars
    - var title = "Iyengar Yoga"
    - var banner = "/img/whats-on/yoga-in-chester-le-street/banner.jpg"
    - var images = ["/img/whats-on/yoga-in-chester-le-street/1.jpg"]
    - var description = "Mr Iyengar came from a humble priestly background in Southern India. He started yoga at the age of sixteen due to illness. Once cured, he decided to continue with yoga and began teaching. His skill and reputation grew and pupils soon included prominent members of Indian society, men and women from all walks of life. <br><br> Each week the class will consist of a selection of postures with the aim of stretching and relaxing the body <br><br> .Although the classes are mainly taught as a whole and according to a strict syllabus, each person’s needs will be gauged to deepen their experience of Yoga, and help with any particular problems. <br><br> Aids such as belts, blocks, chairs, tables, wall and blankets are used to help students to achieve good alignment in the postures, and thereby gaining more flexibility and strength in their bodies. <br><br> As strength and stamina develop there is a progression to more advanced postures, according to the ability of the student. <br><br> All equipment is supplied so all you need is to come along and try yoga for yourself. <br><br> Course fee example 10 weeks – £47.00 plus PVCA annual membership."

block content
    include ../../includes/event.pug
