extends ../../layout.pug

block vars
    - var title = "Class Rooms"
    - var images = ["/img/facilities/classrooms/1.jpg", "/img/facilities/classrooms/2.jpg", "/img/facilities/classrooms/3.jpg"]
    - var description = "The award winning Community Centre holds classrooms of differing sizes and thus can play host to a wide range of activities, including ICT and computing lessons. Because there are no fixed fittings, each room has the capability to act as a venue for meetings or interviews as well as adult education, with the largest being ideal for a birthday party."

block content
    include ../../includes/facility.pug
