extends ../../layout.pug

block vars
    - var title = "Dining Hall"
    - var images = ["/img/facilities/dining%20room/1.jpg", "/img/facilities/dining%20room/2.jpg", "/img/facilities/dining%20room/3.jpg", "/img/facilities/dining%20room/4.jpg", "/img/facilities/dining%20room/5.jpg", "/img/facilities/dining%20room/6.jpg"]
    - var description = "The Dining Hall is a bright, heated large area which could be used for a whole host of activities, ranging from formal dining to dance and fitness related sessions. Catering, both formal and informal, can be provided in this area and licenced events could be held."

block content
    include ../../includes/facility.pug
