extends ../../layout.pug

block vars
    - var title = "IT Suite"
    - var images = ["/img/facilities/it%20suite/1.jpg", "/img/facilities/it%20suite/2.jpg", "/img/facilities/it%20suite/3.jpg"]
    - var description = "The IT Suite is equipped with 21 desk top computers. <br><br> This multipurpose room can be used as a general class room as monitors can be lowered into the purpose built desks. The room is spacious with additional round tables to allow for group working."

block content
    include ../../includes/facility.pug
