extends ../../layout.pug

block vars
    - var title = "Performing Arts Room"
    - var images = ["/img/facilities/performing%20arts/1.jpg", "/img/facilities/performing%20arts/2.jpg", "/img/facilities/performing%20arts/3.jpg"]
    - var description = "A very modern facility, the drama/dance studio provides a comfortable setting which is flexible enough to cater for a host of activities, both performing arts and fitness-related."

block content
    include ../../includes/facility.pug
