extends ../../layout.pug

block vars
    - var title = "Sports Field"
    - var images = ["/img/facilities/sports%20field/1.jpg", "/img/facilities/sports%20field/1.jpg", "/img/facilities/sports%20field/1.jpg"]
    - var description = "With a long-jump pit and two football pitches of varying size, this is an ideal venue to book for any outdoor event or field sports. It is spacious, well looked after and sheltered, as well as enjoying easy access to community facilities."

block content
    include ../../includes/facility.pug
