extends ../../layout.pug

block vars
    - var title = "The Gymnasium"
    - var images = ["/img/facilities/the%20gymnasium/1.jpg", "/img/facilities/the%20gymnasium/2.jpg", "/img/facilities/the%20gymnasium/3.jpg"]
    - var description = "The heated gymnasium is ideal for either gymnastics, small group games, like dodgeball,trampolining, martial arts and a whole lot more. It would be an excellent facility to hire for activities within a children’s party, giving the guests a space to burn some energy off in. Because of its size, it is also suitable for aerobic, circuit and individual fitness sessions. <br><br> Free parking is available on site."

block content
    include ../../includes/facility.pug
