extends ../../layout.pug

block vars
    - var title = "The Green Room"
    - var images = ["/img/facilities/the%20green%20room/1.jpg"]
    - var description = "This is a smaller performing arts space, often booked by theatre groups as a practice or dressing room. It is large enough to be and ideal setting for gymnastics for the young or as a room for your child’s birthday party."

block content
    include ../../includes/facility.pug
