extends ../../layout.pug

block vars
    - var title = "Theatre"
    - var images = ["/img/facilities/theatre/1.jpg", "/img/facilities/theatre/2.jpg", "/img/facilities/theatre/3.jpg"]
    - var description = "The recently re-decorated, 250 seated theatre has a traditional proscenium arch and stage and thus is a professional setting for performances or presentations of any type. Because the seating folds back, the space is sufficiently flexible to accommodate theatre in the round, more intimate musical events or fitness-related and dance activities. It is heated and well lit, with disabled access catered for – a beautiful setting for any event. <br><br> <a href='https://www.4dtours.co.uk/4d/the-pictures/fullscreen/'>Click here to see a 4D virtual tour of our theatre.</a>"
    - var availability = {Monday: "6:00 pm – 9:30 pm", Tuesday: "6:00 pm – 9:30 pm", Wednesday: "6:00 pm – 9:30 pm", Thursday: "6:00 pm – 9:30 pm", Friday: "6:00 pm – 9:30 pm", Saturday: "10:00 am – 4:30 pm", Sunday: "10:00 am – 12:30 pm"}

block content
    include ../../includes/facility.pug
