extends ../layout.pug

block vars
    - var title="Contact Us"

block content
    div.row
        div.col-md-12.
            <iframe width="100%" height="300" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.openstreetmap.org/export/embed.html?bbox=-1.5730189887154333%2C54.85390930573729%2C-1.5680139866936438%2C54.856163554374106&amp;layer=mapnik&amp;marker=54.85503644580378%2C-1.5705164877044808"></iframe>
    div.row
        div.col-md-6
            h2 Contact Us
            p.
                <b>Park View Community Association</b><br/>
                Church Chare<br/>
                Chester-le-Street<br/>
                Co. Durham<br/>
                DH3 3PZ
            p.
                <b>Telephone:</b> 0191 388 1043<br/>
                <b>Email:</b> info@pvcc.co.uk
            p
                | The Community Centre is located off Junction 63 of the A1M (A167)
                | within the grounds of Park View Academy.
                a(href="https://maps.google.com/maps?ll=54.854944,-1.56973&z=17&t=m&hl=en-GB&gl=US&mapclient=embed&daddr=54%C2%B051%2718.7%22N%201%C2%B034%2712.3%22W@54.855182,-1.570079") Get Directions

            h3 Centre Opening Times
            table
                tr
                    td Monday
                    td 4:30pm - 10pm
                tr
                    td Tuesday
                    td 4:30pm - 10pm
                tr
                    td Wednesday
                    td 4:30pm - 10pm
                tr
                    td Thursday
                    td 4:30pm - 10pm
                tr
                    td Friday
                    td 4:30pm - 10pm
                tr
                    td Saturday
                    td 7am - 10pm
                tr
                    td Sunday
                    td 9am - 5pm

        div.col-md-6
            h2 Get In Touch
            form#contact-us(method="POST")
                div.form-group
                    label(for="name") Your Name
                    input(type="text", class="form-control" name="name" required)
                div.form-group
                    label(for="email") Your Email
                    input(type="email", class="form-control" name="email" required)
                div.form-group
                    label(for="email") Your Telephone
                    input(type="tel", class="form-control" name="telephone")
                div.form-group
                    label(for="email") How Can We Help?
                    textarea(name="query" class="form-control" rows="8")
                button(type="submit" class="btn btn-primary") Send

    script.
        $('#contact-us').submit(function(e) {
            if (this.checkValidity() === false) {
                e.preventDefault();
                e.stopPropagation();
            }
        });
