extends ../layout.pug

block vars
    - var title="GDPR Notice"

block content
    div.container
        div.row
            div.col-md-12
                h3
                    strong
                        | PARK VIEW COMMUNITY CENTRE (PVCC)

                h3 
                    | For: PVCC Users

                h3
                    | Privacy Notice 
                h3
                    The Data Protection Bill 2018 / General Data Protection Regulations (GDPR) 25 May 2018

                p The security of data and information is important to us.  This is why we follow a range of security policies and procedures to control and safeguard access to and use of your personal information.  This includes both physical and technical security and integrity of all data.

                h3 
                    | Who we are and what we do

                p We, Park View Community Centre, are a data controller for the purposes of the above statutory legislation.

                p Our Data Protection Officer (DPO) is: Neil Batey


                h3 
                    | The personal data we collect and hold 

                p Personal data that we may collect, use, store and share (when appropriate) about PVCC users includes, but is not restricted to: 
                    ul 
                        li Contact details, contact preferences, data of birth
                        li Details of any medical conditions, including physical and mental health
                        li Attendance information
                        li Photographs

                h3
                    | Collecting this information

                p We collect data from PVCC users directly when they access our Facilities

                h3
                    | Special category data

                p Special category data is any personal information that is one or more of these categories:

                    ul
                        li Racial or ethnic origin
                        li Political opinions
                        li Religious or philosophical beliefs
                        li Trade union membership
                        li Genetic data
                        li Biometric data
                        li Health data

                p When we collect special category personal information we rely on explicit consent.

                h3
                    | Why we use this data

                p We hold personal data about PVCC users in order to: 

                    ul
                        li Provide you with information regarding Events, activities and courses that may be of interest
                        li Ensure we are aware of any medical conditions when you participate in any of our courses

                h3 
                    | Our legal basis for using this data

                p We collect and use personal data on the basis of performing a public task (ie, providing educational and recreational activities for the community).  

                h3
                    | How we store this data

                p We keep personal information about PVCC users 5 Years.  We will only retain the data we collect for as long as is necessary, to satisfy the purpose for which it has been collected.

                h3
                    | Data sharing

                ul
                    li We will not give information about you to anyone outside PVCC without your consent unless the law and our rules allow us to.
                    li We do not transfer personal data to countries outside the European Economic area.

                h3
                    | PVCC users’ rights regarding personal data

                p
                    | Individuals have a right to make a ‘subject access request’ (SAR) to gain access to personal information that PVCC holds about them.  The SAR request form can be requested by email (‘info@pvca.co.uk’) or by post (SAR Request, Park View Community Centre, Church Chare, Chester le Street, County Durham, DH3 3QA).  Once the official form is completed, PVCC will respond within the statutory timescale of one calendar month, or three months if the request is more complex.

                p
                    | Individuals also have the right for their personal information to be transmitted electronically to another organisation in certain circumstances.  

                p 
                    | If we cannot provide information to you, we will give you a description of the information we hold and the reason why it cannot be disclosed to you at the time of your request.  

                h3
                    | Other rights

                p Individuals have rights regarding how their personal data is used and kept safe, including the right to:

                    ul
                        li Object to the use of personal data if it would cause, or is causing, damage or distress
                        li Prevent it being used to send direct marketing
                        li Object to decisions being taken by automated means rather than by a person
                        li In certain circumstances, have inaccurate personal data corrected, deleted or destroyed, or restrict processing
                        li Claim compensation for damages caused by a breach of the data protection regulations

                p To exercise any of these rights, please contact our DPO.

                h3
                    | Complaints

                p We take any complaint regarding our collection and use of personal information very seriously.  If you think that our collection or use of personal information is unfair, misleading or inappropriate, or have any other concern about our data processing, please raise this with our DPO.

                p Alternatively, you can make a complaint to the Information Commissioner’s Office:

                    ul
                        li Telephone : 0303 123 1113
                        li In writing : Information Commissioner’s Office, Wycliffe House, Water Lane, Wilmslow, Cheshire, SK9 5AF
                        li 
                            | Online : 
                            a(href="https://ico.org.uk/concerns/") https://ico.org.uk/concerns/ 
